@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.forecast-details-container{
    font-family:'Poiret One' ;
    position:relative;
    top: -27rem;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30rem;
    height: 23rem;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    text-align: center;
    color:white;
    font-weight:900;
    
}

.forecast-details_date{
    padding: 1rem;
    height: 2rem;
    font-size: 2rem;
}

.forecast-details_temperature-max{
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
}

.forecast-details_temperature-min{
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
}

.forecast-details_humidity{
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
}

.forecast-details_description{
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
}

.forecast-summary_icon-container{
    position: relative;
    margin: auto;
    top: -15rem;
    font-size: 16rem;
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 10%;
    color: white;
    text-shadow: 4px 4px black;
    
}

.forecast-details_wind{
    padding: 1rem;
    height: 1rem;
    font-size: 2rem;
}
