@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.search-form{
    position: relative;
    top: -4rem;
    display: flex;
    justify-content: center;

}

.search-form-text{
    font-family: 'Cousine';
    border: 2px solid white;
    background: none;
    color: white;
    width: 25rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    border-left: none;
    border-right: none;
    border-radius: 10%
    ;
}

.submit{
    position: relative;
    top: -0.1rem;
    right: -1rem;
    font-family: 'Cousine';
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-size: 1rem;
    margin: 0.3rem;
    height: 3rem;
    background: transparent;
    color:white;
    border-radius: 10%;
    opacity: 1;
    text-shadow:1px 1px rgba(0, 0, 0, 0.6) ;
    
}

.submit:hover{
    opacity: 0.8;
}